<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./styles/global_mixins.css">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/content.css">
    <link rel="stylesheet" href="./styles/block.css">
    <link rel="stylesheet" href="./styles/form.css">
</head>
<body>
<header class="main-header">
    <div class="d-flex">
        <div class="sidebar-toggler">
            <img class="d-block mx-auto" src="img/icons/sidebar-toggler.svg" alt="">
        </div>
        <div class="header-page-title d-flex align-center">
            <h1 class="fs-3 fw-600 w-100">--Log in--</h1>
        </div>
    </div>
</header>
<section class="content">
    <div class="d-flex direction-column mx-auto">

        <div class="block d-flex">
            <p class="fs-1 fw-300">Don't have an account?</p>
            <p class="fs-1 fw-400 ml-0">Sign in</p>
        </div>

        <div class="block">
            <h1 class="fs-2 fw-600">Log in</h1>
            <br>
            <form action="">
                <div>
                    <input type="email" name="" id="" class="w-100 mb-0" placeholder="E-mail">
                    <input type="password" name="" id="" class="w-100 mb-0" placeholder="Password">
                </div>
            </form>
        </div>

        <div class="block">
            <p class="fs-2 fw-400">Log in</p>
        </div>

    </div>
</section>
</body>
</html>