<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div class="header-upper">
        <div class="sidebar-toggler">
            <img src="img/icons/sidebar-toggler.svg" alt="">
        </div>
        <div>
            <h1 class="header-page-title">--Categories--</h1>
        </div>
    </div>
    <div class="header-search">
        <input type="text" name="" id="">
        <button type="submit">
            <img src="img/icons/search-left-1504-svgrepo-com.svg" alt="">
        </button>
    </div>
</header>
</body>
</html>