<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./styles/global_mixins.css">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/content.css">
    <link rel="stylesheet" href="./styles/block.css">
    <link rel="stylesheet" href="./styles/form.css">
</head>
<body>
<header class="main-header">
    <div class="d-flex">
        <div class="sidebar-toggler">
            <img class="d-block mx-auto" src="img/icons/sidebar-toggler.svg" alt="">
        </div>
        <div class="header-page-title">
            <h1 class="fs-3 fw-600 w-100">--Categories--</h1>
        </div>
    </div>
    <div class="header-search w-100 d-flex">
        <input class="fs-3 h-100" type="text" name="" id="">
        <button type="submit" class="mx-auto">
            <img class="w-100" src="img/icons/search-left-1504-svgrepo-com.svg" alt="">
        </button>
    </div>
</header>
<section class="content">

    <div class="d-flex direction-column display-pc">
        <div class="block">
            <p>Browse</p>
            <p>Profile</p>
            <p>Logout</p>
        </div>
    </div>

    <div class="d-flex ml-auto" style="order: 3">
        <div class="block expand">
            <div class="expand-header d-flex align-center">
                <img src="img/icons/filter-svgrepo-com.svg" alt="" class="expand-icon">
                <h2 class="fs-2 fw-400">Filter</h2>
                <span class="fs-2 ml-auto display-mobile">&#9660</span>
            </div>
            <div class="expand-body"> <!-- Unhide me-->
                <form action="">
                    <div>
                        <p class="fw-300">Creation date</p>
                        <div class="d-flex">
                            <input class="w-50" type="date" name="" id="">
                            <input class="w-50" type="date" name="" id="">
                        </div>
                    </div>
                    <div>
                        <p class="fw-300">Post DIR</p>
                        <input class="w-100" type="text" name="" id="">
                    </div>
                    <div>
                        <p class="fw-300">Creator</p>
                        <input class="w-100" type="text" name="" id="">
                    </div>
                    <div class="display-pc">
                        <p>Searchable content</p>
                        <input class="w-100" type="text" name="" id="">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="d-flex direction-column mr-auto" style="flex-grow: 2">
        <div class="block-plain">
            <h1 class="fs-3 fw-300">/path/to/post</h1>
        </div>

        <div class="block post" style="background: linear-gradient(180deg, #FFFFFF 50%, rgba(255, 255, 255, 0.8) 100%), url('./img/backgrounds/3.jpg');">
            <div class="post-details">
                <div class="d-flex">
                    <p class="fw-300 fs-0 post-author">wzryw_prostaty</p>
                </div>
            </div>

            <h3 class="fs-3 fw-600">Here are your topics and questions about consequat_vitae</h3>
            <p class="fw-400 fs-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam aliquid culpa cum doloremque eligendi error, et laborum mollitia, nesciunt nostrum reprehenderit veritatis. Consectetur, ex.
            </p>
            <div class="post-imgs">
                <img class="" src="img/backgrounds/4.jpg" alt="">
            </div>
        </div>

        <div class="block post" style="background: linear-gradient(113.74deg, rgba(255, 255, 255, 0) 34.73%, rgba(220, 223, 63, 0.48) 98.64%), #FFFFFF;">
            <div class="post-details">
                <div class="d-flex">
                    <p class="fw-300 fs-0 post-author" style="color: rgba(220, 223, 63, 0.48)">wzryw_prostaty</p>
                    <p class="fw-300 fs-0 post-dir">./154a60</p>
                    <p class="fw-300 fs-0 post-timestamp ml-auto">2023/04/09 2:43PM</p>
                </div>
                <div class="d-flex">
                    <p class="fw-300 fs-0">Answer on:</p>
                </div>
            </div>
            <p class="fw-400 fs-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cumque maxime nihil voluptatem.
            </p>
        </div>

        <div class="block post" style="background: linear-gradient(113.74deg, rgba(255, 255, 255, 0) 34.73%, rgba(172, 48, 145, 0.48) 98.64%), #FFFFFF;">
            <div class="post-details">
                <div class="d-flex">
                    <p class="fw-300 fs-0 post-author" style="color: rgba(172, 48, 145, 0.48)">wzryw_prostaty</p>
                    <p class="fw-300 fs-0 post-dir">./154a60</p>
                    <p class="fw-300 fs-0 post-timestamp ml-auto">2023/04/09 2:43PM</p>
                </div>
                <div class="d-flex">
                    <p class="fw-300 fs-0">Answer on:</p>
                    <div class="post-answeron" style="background: linear-gradient(90.52deg, rgba(255, 255, 255, 0) 49.55%, rgba(220, 223, 63, 0.48) 100%), #FFFFFF;">
                        <p class="fw-300 fs-0">./154a59</p>
                    </div>
                </div>
            </div>
            <p class="fw-400 fs-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cumque maxime nihil voluptatem. Lorem ipsum dolor sit amet.
            </p>
        </div>

        <div class="block-plain d-flex align-center">
            <p class="fs-1">Add your post</p>
        </div>
    </div>


</section>
</body>
</html>