<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./styles/global_mixins.css">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/content.css">
    <link rel="stylesheet" href="./styles/block.css">
    <link rel="stylesheet" href="./styles/form.css">
</head>
<body>
<header class="main-header">
    <div class="d-flex">
        <div class="sidebar-toggler">
            <img class="d-block mx-auto" src="img/icons/sidebar-toggler.svg" alt="">
        </div>
        <div class="header-page-title">
            <h1 class="fs-3 fw-600 w-100">--Categories--</h1>
        </div>
    </div>
    <div class="header-search w-100 d-flex">
        <input class="fs-3 h-100" type="text" name="" id="">
        <button type="submit">
            <img class="w-100" src="img/icons/search-left-1504-svgrepo-com.svg" alt="">
        </button>
    </div>
</header>
<section class="content">

    <div class="d-flex direction-column display-pc">
        <div class="block">
            <p>Browse</p>
            <p>Profile</p>
            <p>Logout</p>
        </div>
    </div>

    <div class="d-flex ml-auto" style="order: 3">
        <div class="block expand">
            <div class="expand-header d-flex align-center">
                <img src="img/icons/filter-svgrepo-com.svg" alt="" class="expand-icon">
                <h2 class="fs-2 fw-400">Filter</h2>
                <span class="fs-2 ml-auto display-mobile">&#9660</span>
            </div>
            <div class="expand-body"> <!-- Unhide me-->
                <form action="">
                    <div>
                        <p class="fw-300">Creation date</p>
                        <div class="d-flex">
                            <input class="w-50" type="date" name="" id="">
                            <input class="w-50" type="date" name="" id="">
                        </div>
                    </div>
                    <div>
                        <p class="fw-300">Post DIR</p>
                        <input class="w-100" type="text" name="" id="">
                    </div>
                    <div>
                        <p class="fw-300">Creator</p>
                        <input class="w-100" type="text" name="" id="">
                    </div>
                    <div class="display-pc">
                        <p>Searchable content</p>
                        <input class="w-100" type="text" name="" id="">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="d-flex direction-column mr-auto" style="flex-grow: 2">
        <div class="block-plain">
            <h1 class="fs-3 fw-600">Categories</h1>
        </div>

        <div class="block"
             style="background:
        linear-gradient(90deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%),
        url(./img/backgrounds/1.jpg);">
            <h3 class="fs-3 fw-400">/Lorem</h3>
            <p class="fw-300 fs-0">wzryw_prostaty</p>
        </div>

        <div class="block"
             style="background:
        linear-gradient(90deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%),
        url(./img/backgrounds/2.jpg);">
            <h3 class="fs-3 fw-400">/Ipsum</h3>
            <p class="fw-300 fs-0">author2</p>
        </div>

        <div class="block-plain d-flex align-center">
            <p class="fs-1">Create category</p>
            <img class="d-block add_cat_icon ml-auto" src="./img/icons/plus-1513-svgrepo-com.svg" alt="">
        </div>
    </div>


</section>
</body>
</html>