@import "variables";

@media screen and (max-width: 1080px)
{
  .display-pc{
    display: none !important;
  }
  .fs-0{
    font-size: 40vw / $scalFacX;
  }
  .fs-1{
    font-size: 54vw / $scalFacX;
  }
  .fs-2{
    font-size: 57vw / $scalFacX;
  }
  .fs-3{
    font-size: 80vw / $scalFacX;
  }

  .mb-0{
    margin-bottom: 25vw / $scalFacY;
  }
  .mt-0{
    margin-top: 25vw / $scalFacY;
  }
  .ml-0{
    margin-left: 25vw / $scalFacX;
  }
}
@media screen and (min-width: 1081px){
  .display-mobile{
    display: none !important;
  }

  .fs-0{
    font-size: 20px / $scalFacY;
  }
  .fs-1{
    font-size: 28px / $scalFacY;
  }
  .fs-2{
    font-size: 38px / $scalFacY;
  }
  .fs-3{
    font-size: 35px / $scalFacY;
  }

  .mb-0{
    margin-bottom: 25px / $scalFacX;
  }
  .ml-0{
    margin-left: 25px / $scalFacX;
  }
}
.d-none{
  display: none !important;
}
.d-block{
  display: block;
}

.text-center{
  text-align: center;
}

.d-flex{
  display: flex;
}
.align-center{
  align-items: center;
}
.justify-evenly{
  justify-content: space-evenly;
}
.justify-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.direction-column{
  flex-direction: column;
}

.rot180{
  transform: rotate(180deg);
}

.fw-300{
  font-weight: 300 !important;
}
.fw-400{
  font-weight: 400 !important;
}
.fw-600{
  font-weight: 600 !important;
}
.fw-700{
  font-weight: 700 !important;
}


.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.ml-auto{
  margin-left: auto !important;
}
.mr-auto{
  margin-right: auto !important;
}

.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}
.h-100{
  height: 100% !important;
}

.txt-clr-red{
  color: red !important;
}
.txt-clr-main{
  color: $mainColor !important;
}